body {
    font-family: sans-serif;
    background: rgb(150, 207, 202);
}

h1 {
    text-align: center;
    color: lightseagreen;
}

.container-fluid {
    width: 30rem;
    height: auto;
    margin: auto;
    background-color: white;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    margin-top: 4rem;
    border-radius: 1rem;
    padding-top: 1rem;
}

.container-task {
  
}

ul{
    margin: 1rem;
}

.list-group-item{
    justify-content: flex-start;
    margin-top:1rem;
    background: rgb(150, 207, 202);
    &:hover{
        cursor: pointer;
        .button-task{
            opacity: 0.9;
        }
    }

}

.input {
    border: none;
    width: auto;
    outline: none;
    margin: 1rem;
}

::placeholder {
    color: grey;
    justify-content: flex-end;
    
    
}

.button-task {
    color: lightseagreen;
    float: right;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background: none;
    border: none;
    margin-top: 0.5rem;
}

.pendientes {
    color: rgb(150, 207, 202);
}

.btn-danger{
    margin-bottom: 1rem;
}